@font-face {
    font-family: videogame2;
    src: url('../../fonts/PixeloidMono.ttf');
}
.imageGif {
    margin-left: 200px;
    border-radius: 10px;
    height: 30%;
    width: 70%;
  
}
.noResults {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.noResults h2 {
    font-family: 'videogame2', sans-serif;
    color: white;
    font-size: 30px;
    letter-spacing: 1px;
}
.noResults img {
    width: 600px;
    border: 1px solid black;
    border-radius: 5px;
}