.firstContainer {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    color: peru;
    font-family: 'Chakra Petch', sans-serif;
    
}
.formContainer button {
    font-family: 'Chakra Petch', sans-serif;;
    margin-right: 40px;
    margin-top: 5px;
    background-color: peru;
    transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
    box-shadow: 0 2px 4px rgba(148, 87, 235, 0.5); 
    height: 25px;
    border: 1px solid black;
    border-radius: 10px; 
}
.formContainer button:hover {
    background-color: #b68e0b; 
    color: #fff; 
    box-shadow: 0 4px 8px rgba(181, 149, 226, 0.7); 
    cursor: pointer;

}
.formContainer {
    background-color: rgba(27, 20, 10, 0.4);
    border: 1px solid black;
    border-radius: 5px;
}
.formContainer textarea {
    width: 300px;
    height: 100px;
}
.formContainer textarea:hover {
    background-color: peru;
    
}
.formContainer input {
    
    font-family: 'Chakra Petch', sans-serif;
    padding: 5px;
    margin-right: 0;
    margin-top: 10px;
    border: 1px solid black;
    border-radius: 5px;
}
.formContainer input:hover {
    background-color: peru;
    color: black;
}
.formContainer select {
    padding: 5px;
    margin-right: 0;
    margin-top: 10px;
    border: 1px solid black;
    border-radius: 5px;

}
.formContainer select:hover {
    background-color: peru;
}
.warning {
    color:red;
}
.ulCombine { 
list-style-type: none;
};

