.firstContainer {
    display:flex;

}


.buttonIcon {
    margin-right: 20px;
    color: rgb(14, 12, 12);
    background-color: rgb(255, 245, 245);
    font-size: 20px;
    border-radius:  0px 10px 10px 0px;
}
.buttonIcon:hover {
    cursor: pointer;
}
.buttonIcon i {
    margin-bottom: 8px;
    margin-top: 3px;
}

.firstContainer input {
    background-color: rgb(255, 245, 245);
    padding: 10px;
    margin-right: 0;
    margin-top: 16px;
    border: 1px solid black;
    border-radius: 5px;
}
.firstContainer input:hover {
    background-color: rgb(235, 211, 187);
}