.firstContainer {
    background-image: url('../../assets/wallpaperLanding.gif');
    background-size: contain;
    height: 610px;
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
}

.firstContainer h1 {
    font-family: 'videogame2', sans-serif;
    color: rgb(6, 150, 114);
    font-size: 50px;
    letter-spacing: 1px;
    text-align: center;
}

.firstContainer button {
    font-family: 'videogame2', sans-serif;
    font-size: 24px;
    background-color: violet;
    transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
    box-shadow: 0 2px 4px rgba(148, 87, 235, 0.5);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.firstContainer button:hover {
    background-color: #8a2be2; 
    color: #fff; 
    box-shadow: 0 4px 8px rgba(148, 87, 235, 0.7); 
}
