.detailsContainer {
    text-align: center;
    color: white;
}
.detailsContainer h1 {
    text-align: center;
}
.imgDetail {
    display: flex;
    position: relative;
    left: 400px;
    width: 500px;
    border: 1px solid black;
    border-radius: 10px ;
}
.imageGif {
    margin-left: 50px;
    border-radius: 10px;
    height: 30%;
    width: 70%;
  
}