@font-face {
  font-family: videogame2;
  src: url('../../fonts/PixeloidMono.ttf');
}
.containerNav {
  height: 130px;
  background-color: peru;
  border: 1px solid black;
  border-radius: 4px;

}
.containerNav h1 {
    text-align: center;
    margin-top: -50px;
    font-family: 'videogame2', sans-serif;
    letter-spacing: 5px;
    color:white;
    text-shadow: 4px 4px 4px rgb(83, 30, 228);
}
/* navbar.module.css */

/* navbar.module.css */

.menuControllers {
    position: relative;
    
  }
  
  .menuIcon {
    font-size: 50px;
    cursor: pointer;
   
  }
  .menuIcon img {
    color: white;
  }
  
  .menuToggle {
    display: none;
  }
  
  .menuList {
    list-style: none;
    line-height: 30px;
    padding: 0;
    position: absolute;
    top: 74%;
    right: 0;
    left: 0;
    background-color: rgba(15, 15, 14, 0.5);
    border: 1px solid peru;
    border-radius: 4px;
    display: none;
    width: 150px;
    height: 300px;
    text-align: left;
    box-shadow: 0 0 10px rgba(241, 222, 222, 0.5);
    transition: transform 0.3s ease-in-out;
    transform: translateX(100%);
    z-index: 2;
  }
  
  .menuBackdrop {
    
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(255, 165, 0, 0.7);
    display: none;
    transition: all 0.5s;
  }
  
  .menuToggle:checked ~ .menuList,
  .menuToggle:checked ~ .menuBackdrop {
    display: block;
    transform: translateX(0);
  }
 
  .menuList li {
    font-size: 30px;
    font-family: 'Chakra Petch', sans-serif;
    letter-spacing: 2px;
    color:white;
    margin-top: 10px;
    margin-bottom: 80px;
    margin-left: 2px;
    transition: text-shadow 0.3s, background-color 0.3s; /* Agrega una transición suave */
    height: 30px;
  }
  
  .menuList li:hover {
     /* Efecto de sombra al pasar el cursor */
    background-color: peru; /* Color de fondo al pasar el cursor */
    color: white;
    text-shadow: 4px 4px 4px rgb(83, 30, 228);
  }
  .searchBar {
    display:flex;
    justify-content: flex-end;
  }
  .link {
    text-decoration: none;
    
  }